* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 0;
}

[v-cloak] {
	display: none;
}

body {
	background: black;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	user-select: none;
	color: white;
	text-shadow: 0 0 10px black;
}

#backdrop {
	background-image: url(/static/images/background.jpg);
	background-size: cover;
	filter: blur(8px);
	position: fixed;
	inset: 0;
	z-index: -1;
}

/* main menu */
#main-menu {
	display: grid;
	grid-template-columns: 40% 60%;
}