* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
}

*:focus {
	outline: 0;
}

[v-cloak] {
	display: none;
}

body {
	background: black;
	overflow: hidden;
	user-select: none;
	color: white;
	text-shadow: 0 0 10px black;
}

#backdrop {
	background-image: url(/static/images/background.jpg);
	background-size: cover;
	filter: blur(8px);
	position: fixed;
	inset: 0;
	z-index: -1;
}

.btn {
    padding: 13px 20px;
    font-size: 1.3em;
    background: #dfb33a;
    border: 0;
    color: white;
    border-radius: 15px;
}

/* main menu */
#main-menu {
	display: grid;
	grid-template-columns: 40% 60%;
	position: fixed;
    inset: 0;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
}

#main-menu-images {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-menu-images img {
	position: absolute;
	border: 5px solid white;
	box-shadow: black 0 0 20px;
	background: white no-repeat;
}

#main-menu-image-a {
	transform: rotate(-8deg) translate(58px, 79px);
}

#main-menu-image-b {
	transform: rotate(-5deg) translate(-92px, -1px);
}

#main-menu-image-c {
	transform: rotate(7deg) translate(16px, -19px);
}

#main-menu-logo {
	transform: rotate(-8deg);
    margin-bottom: 40px;
}

#main-menu-content {
	text-align: center;
}

#main-menu-content h1, #main-menu-content h2 {
	margin-bottom: 20px;
}

#main-menu-right {
	width: 100%;
	height: 100%;
}